{
    "extends": [
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ],
        "getter-return": "off",
        "no-bitwise": "off",
        "no-undef": "off"
    },
}